<div id="<%= dom_id todo_list %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= todo_list.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= todo_list.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Deadline:</strong>
    <%= todo_list.deadline %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Deadline date:</strong>
    <%= todo_list.deadline_date %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this todo list", todo_list, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this todo list', edit_todo_list_path(todo_list), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
